<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Đặt vé</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/style-starter.css"
    />
    <link
      rel="stylesheet"
      href="https://npmcdn.com/flickity@2/dist/flickity.css"
    />
    <link rel="stylesheet" type="text/css" href="assets/css/progress.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/ticket-booking.css"
    />

    <!-- ..............For progress-bar............... -->
    <link rel="stylesheet" type="text/css" href="assets/css/e-ticket.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/payment.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700"
      rel="stylesheet"
    />
  </head>

  <body>
    <header id="site-header" class="w3l-header fixed-top">
      <!--/nav-->
      <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
        <div class="container">
          <h1>
            <a class="navbar-brand" href="/"
              ><span class="fa fa-play icon-log" aria-hidden="true"></span>
              Movie-Ticket-Booking_Group14
            </a>
          </h1>

          <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
          ></div>

          <% if(typeof dataUser == 'undefined'){ %>
          <div
            class="Login_SignUp"
            id="login"
            style="font-size: 2rem; display: inline-block; position: relative"
          >
            <!-- <li class="nav-item"> -->
            <a class="nav-link" href="/sign_in"
              ><i class="fa fa-user-circle-o"></i
            ></a>
            <!-- </li> -->
          </div>
          <% }else{ %>
          <span> <%=dataUser[0].TEN%> </span>

          <form action="/process_sign_out">
            <button class="btn btn-success">Đăng xuất</button>
          </form>
          <% } %>
          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox" />
                  <div class="mode-container">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
        </div>
      </nav>
    </header>
    <br /><br /><br />

    <div class="container">
      <h2>Lịch Sử Mua Vé</h2>
      <br />
      <div>
        <table style="width: 100%" border="2px">
          <tr>
            <th>
                <span align="center">Tên Phim</span>
            </th>
            <th align="center">Ảnh</th>
            <th align="center">Giờ Chiếu</th>
            <th align="center">Rạp</th>
            <th align="center">Phòng</th>
            <th align="center">Ghế</th>
            <th align="center">Mã QR</th>
          </tr>
          <% for(let i=0; i<dataTickets.length; i++){ %>
            <tr>
                    <td align="center"><%=dataMovies[i].TEN%></td>
                    <td align="center">
                        <img src="<%=dataMovies[i].IMGPATH%>" alt="" height="150px" width="150px" style="margin-top:5px ;
                        margin-bottom:5px">
                    </td>
                    <td align="center"><%=dataTickets[i].GIO%></td>
                    <td align="center"><%=dataBranchs[i].TEN%></td>
                    <td align="center"><%=dataRooms[i].TEN%></td>
                    <td align="center"><%=dataChairs[i].COL%><%=dataChairs[i].RO%></td>
                    <td align="center"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Superqr.svg/800px-Superqr.svg.png" height="150px" width="150px"/></td>
            </tr>
          <% } %>
        </table>
      </div>
      <br />
    </div>
    <br /><br /><br /><br /><br /><br /><br />
  </body>
  <script>
    let prevId = "1";

    window.onload = function () {
      document.getElementById("screen-next-btn").disabled = true;
    };

    function timeFunction() {
      document.getElementById("screen-next-btn").disabled = false;
    }

    function myFunction(id) {
      document.getElementById(prevId).style.background = "rgb(243, 235, 235)";
      document.getElementById(id).style.background = "#df0e62";
      prevId = id;
    }
  </script>

  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script
    type="text/javascript"
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
  ></script>
  <script src="assets/js/theme-change.js"></script>

  <script type="text/javascript" src="assets/js/ticket-booking.js"></script>
</html>
